@charset "UTF-8";



/* slide_img 영역 */
/* slide_img 영역 */
.slide_img {
    width: 966px;
    height: 400px;
    margin: 0 auto 50px;
    /* border: 1px solid red; */
}

/* slick-slide 수정 */
.move .slick-slide {}

.move .slick-slide a {}

.move .slick-slide a img {}

/* dots 수정 */
.move .slick-dots {
    text-align: center;
}

.move .slick-dots li {
    display: inline-block;
    margin: 5px;
}

.move .slick-dots li button {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    text-indent: -9999px;
    border: none;
    background-color: rgb(201, 238, 255);
    transition: all 0.3s;
}

.move .slick-dots li.slick-active button {
    background-color: rgb(21, 171, 240);
    width: 30px;
}

/* prev next button 수정 */
.move .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    width: 10px;
    height: 30px;
    text-indent: -9999px;
    border: none;
    border-radius: 5px;
    background-color: rgba(150, 150, 150, 0.5);
    cursor: pointer;
    margin: 0 20px 0;
}

.move .slick-arrow.slick-prev {
    left: 0;
}

.move .slick-arrow.slick-next {
    right: 0;
}





/* main_view 영역 */
/* main_view 영역 */
.main_view {
    width: 100%;
    height: 480px;
}

/* slick-slide 수정 */
.view .slick-slide {}

.view .slick-slide a {}

.view .slick-slide a img {}

/* dots 수정 */
.view .slick-dots {
    text-align: center;
}

.view .slick-dots li {
    display: inline-block;
    margin: 5px 20px;
}

.view .slick-dots li button {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    text-indent: -9999px;
    border: none;
    background-color: rgb(255, 216, 225);
    transition: all 0.3s;
}

.view .slick-dots li.slick-active button {
    width: 30px;
    background-color: rgb(202, 81, 107);
}

/* prev next button 수정 */
.view .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    width: 28px;
    height: 27px;
    text-indent: -9999px;
    background-color: transparent;
    border: none;
    background-image: url("../img/bg_direction_nav.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.view .slick-arrow.slick-prev {
    left: calc(50% - 600px);
}

.view .slick-arrow.slick-next {
    right: calc(50% - 600px);
    background-position: right;
}





/* face_img 영역 */
/* face_img 영역 */
.face_img {
    width: 650px;
    height: 124px;
    margin: 100px auto;
    border: 1px solid red;
}

/* slick-slide 영역 */
.face .slick-slide {}

.face .slick-slide img {}

/* dots 수정 */
.face .slick-dots {
    /* text-align: center; */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.face .slick-dots li {
    display: inline-block;
    margin: 10px 5px;
}

.face .slick-dots li button {
    display: block;
    width: 10px;
    height: 10px;
    background-color: lightgray;
    border: none;
    border-radius: 3px;
    text-indent: -9999px;
    transition: all 0.3s;
}

.face .slick-dots li.slick-active button {
    background-color: gray;
}

/* prev next button 수정 */
.face .slick-arrow{
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 50px;
    text-indent: -9999px;
    border: none;
    cursor: pointer;
}
.face .slick-arrow.slick-prev{
    left: -100px;
    border-radius: 10px 0 0 10px;
}
.face .slick-arrow.slick-next{
    right: -100px;
    border-radius: 0 10px 10px 0;
}